.home{
    background-color: black; background-size: cover;
    }
h2{
    background-color: black; 
    text-align: center;
    color: azure;
    padding: 20px; 
    font-size: 40px; 
    margin: auto;
}
    