body div{
    margin: 500px;
    }
    h1{
    text-align: center; color: black;
    background-color: yellow;padding: 10px;
    font-size: 40px; margin: auto;
    }
    body{
    background-color: black;
    }
    